@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: poppins, inter;
}
.flex {
    display: flex;
}
.center-align {
    align-items: center;
    height: 100vh;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-centered {
    justify-content: center;
    align-items: center;
}
.grid-center {
    display: grid;
    place-items: center;
}


ion-input{
    
    font-weight: 700;
  
  
  }